/*li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 10%;
  max-height: 10%;
}*/

li{
  display: inline-flex;
  padding-left: 10%;
  align-items: center;
}

img{
  width: 300px;
  height: 300px;
}

#results{
  border-style: solid;
  /*height: 550px;
  width: 1000px;*/
  margin: 10px 20%;
}

/*canvas{
  height: 400px;
  width: 900px;
}*/
