/*li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 10%;
  max-height: 10%;
}*/

li{
  display: inline-flex;
  padding-left: 10%;
  align-items: center;
}

img{
  width: 300px;
  height: 300px;
}

canvas{
  border-style: solid;
  max-height: 500px;
}
